*.o
*.lo
*.la
*.html
.deps
.libs

Makefile
config.h
config.log
config.status
doc/Makefile
eb.conf
eb/Makefile
eb/build-post.h
eb/stamp-build-post-h
eb/stamp-sysdefs-h
eb/sysdefs.h
ebappendix/Makefile
ebappendix/ebappendix
ebfont/Makefile
ebfont/ebfont
ebinfo/Makefile
ebinfo/ebinfo
ebrefile/Makefile
ebrefile/ebrefile
ebstopcode/Makefile
ebstopcode/ebstopcode
ebzip/Makefile
ebzip/ebzip
libebutils/Makefile
libebutils/ebutils.h
libebutils/libebutils.a
libebutils/stamp-ebutils-h
libtool
m4/Makefile
po-eb/Makefile
po-ebutils/Makefile
samples/Makefile
stamp-h1
